$color-blue-1: #2a73dd;
$color-blue-2: #1d365e;
$color-blue-3: #656774;
$color-white-1: #f5f9fe;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $color-white-1;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
#loading {
  background: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  background-color: $color-white-1;
  box-shadow: 0 2px 4px #e2ebfc;
  padding: 30px 0;
  .container {
    align-items: center;
    justify-content: space-between;
  }
  #logo {
    color: $color-blue-1;
    text-decoration: none;
  }
  nav {
    a {
      transition: all 0.5s;
      color: $color-blue-2;
      padding-left: 30px;
      &:hover,
      &.active {
        color: $color-blue-1;
        text-decoration: none;
      }
    }
    input {
      margin-left: 30px;
    }
  }
  @media screen and (max-width: 986px) {
    ul li a,
    ul li input[type="text"] {
      float: none;
      display: block;
      text-align: right;
      width: 100%;
      margin: 0;
      padding: 10px;
    }
    ul li input[type="text"] {
      border: 1px solid #ccc;
    }
  }
}
#banner {
  background-size: cover;
  background-position: bottom;
  padding: 150px 0 50px 0;
  h1 {
    font-size: 50px;
    font-weight: 700;
    color: $color-blue-1;
  }
  h3 {
    color: $color-blue-2;
  }
  p {
    color: $color-blue-3;
  }
  @media screen and (max-width: 986px) {
    .container {
      display: block;
      .item_left {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 80px 20px 50px 20px;
      }
      .item_right {
        display: inline-block;
        padding: 0 50px 0 50px;
        width: 100%;
        height: 100%;
        img{
          width: 300px;
          height: 300px;
          margin: auto;
        }
        
      }
    }
  }
}
#productAdmin {
  h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: $color-blue-1;
  }
  table {
    border: 1px solid black;
    tr th,
    tr td {
      text-align: center;
      padding: 25px;
      font-size: 16px;
    }
  }
}
#work {
  background: url(../image/bg17.png) top center;
  background-size: cover;
  overflow: hidden;
  .work-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
  }
  .title {
    font-size: 70px;
    font-weight: 700;
    color: $color-blue-1;
    padding-bottom: 30px;
    text-align: center;
  }
  .work-item {
    border: 0.5px solid $color-blue-3;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -100%;
      display: block;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
      );
      transform: skewX(-25deg);
      transition: all 0.75s;
    }
    &:hover::before {
      left: 125%;
    }
    img {
      padding-top: 10px;
      width: 400px;
      height: 200px;
    }
    .item-text {
      padding: 10px 10px 10px 10px;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.75s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .work-item:hover .overlay {
    opacity: 1;
  }
  .overlay-text {
    transform: translateY(50%);
    transition: all 0.75s;
    button {
      font-size: 20px;
      text-align: center;
    }
  }
  .work-item:hover .overlay-text {
    transform: translateY(0);
  }
  @media screen and (max-width: 986px) {
    .work-container {
      display: block;
      .work-item {
        display: inline-block;
        text-align: left;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    
  }
}
footer{
  h2{
    color: $color-blue-1;
    font-size: 20px;
  }
}
#myModal {
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    margin: 0 auto;
    background-color: #fefefe;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #888;
    width: 60%;
    height: 100%;
    background-clip: padding-box;
    overflow: scroll;
    h1 {
      font-size: 40px;
      font-weight: 700;
      padding: 0 0 20px 20px;
      color: $color-blue-1;
    }
  }
  .close {
    color: $color-blue-1;
    text-align: right;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
/*back to top*/
.backToTop {
  width: 50px;
  height: 50px;
  background: $color-blue-1;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: $color-white-1;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px $color-blue-1;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
